{% extends 'templates/master/master.twig' %}

{% block content %}
<style type="text/css">
	#panele{
		text-align:center;
		background-color: white;
		border:solid;
		border-color: #F0F0EE;
		/*padding:-2px;*/
		padding-left: initial;
    padding-right: initial;
    border-radius: 20px;
	}
	#buttone{
		border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
	}
</style>
<div class="col-sm-12 row">
	<div class="col-sm-12" style="text-align: center; padding: 20px;" >
	<h3>CREAR ANUNCIO</h3>
	</div>
	<div class="col-sm-6" id="panele">
		<h4>PERSONAS DESAPARECIDAS</h4>
		<img src="{{ base_url() }}/public/assets/images/DATOS/CREARP.png" alt="bg-img" class="img-responsive" alt="User-Profile-Image">
		<a class="btn btn-success col-sm-12" href="{{ base_url() }}/crear-anuncios/perdido" id="buttone">CREAR</a>
	</div>

	<div class="col-sm-6" id="panele">
		<h4>PERSONAS ENCONTRADAS</h4>
		<img src="{{ base_url() }}/public/assets/images/DATOS/CREARD.png" alt="bg-img" class="img-responsive" alt="User-Profile-Image">
		<a class="btn btn-danger col-sm-12"  href="{{ base_url() }}/crear-anuncios/desaparecido" id="buttone" >CREAR</a>
	</div>

</div>
{% endblock %}

{% block scripts %}
  {{ parent() }}
  <!-- App JS -->
{% endblock %}