{% extends 'templates/master/master.twig' %}

{% block content %}
<div class="page-body boxed-layout-padding">

  <!-- [ page content ] start -->
  <div class="row">
    <div class="col-sm-12">
      {% include 'templates/inc/messages.twig' %}
    </div>
  	<div class="col-sm-12">
  		<p>Página no encontrada</p>
  	</div>
  </div>
  <!-- [ page content ] end -->

</div><!-- .page-body -->

{% endblock %}


{% block scripts %}
  {{ parent() }}

  <!-- pickadate -->
  <script type="text/javascript" src="{{ base_url() }}/public/assets/app/libs/pickadate/js/picker.js"></script>
  <script type="text/javascript" src="{{ base_url() }}/public/assets/app/libs/pickadate/js/picker.time.js"></script>
  <script type="text/javascript" src="{{ base_url() }}/public/assets/app/libs/pickadate/js/picker.date.js"></script>

  <!-- App JS -->
  <script type="text/javascript" src="{{ base_url() }}/public/assets/app/js/programacion-citas.js"></script>


{% endblock %}