
<nav class="pcoded-navbar">
  <div class="pcoded-inner-navbar main-menu"style="background-color: #233237;">
    <div class="boxed-layout">
      <ul class="pcoded-item">
         {#  <li class="active">
            <a href="">
              <span class="pcoded-mtext">INICIO</span>
            </a>
          </li> #}
          {% if not user_login.c_usuario %}
          <li class="{% if current_url == main_menu.Anuncios.url %} active {% endif %}">
            <a href="{{ main_menu.Anuncios.url }}" class=" ">
              <span class="pcoded-mtext">{{ main_menu.Anuncios.title }}</span>
            </a>
          </li>
          {% endif %}
          {% if not user_login.c_usuario %}
          <li class="{% if current_url == main_menu.CrearAnuncio.url %} active {% endif %}">
            <a href="{{ main_menu.CrearAnuncio.url }}" class=" ">
              <span class="pcoded-mtext">{{ main_menu.CrearAnuncio.title }}</span>
            </a>
          </li>
          {% endif %}
          {% if user_login.c_usuario %}
          <li class="{% if current_url == main_menu.cerrar_sesion.url %} active {% endif %}">
            <a href="{{ main_menu.cerrar_sesion.url }}" class=" ">
              <span class="pcoded-mtext">{{ main_menu.cerrar_sesion.title }}</span>
            </a>
          </li>
        {% else %}
          <li class="{% if current_url == main_menu.login.url %} active {% endif %}">
            <a href="{{ main_menu.login.url }}" class=" ">
              <span class="pcoded-mtext">{{ main_menu.login.title }}</span>
            </a>
          </li>
        {% endif %}
      </ul><!--.pcoded-item-->
    </div><!--  .boxed-layout -->

  </div>
</nav>