{% extends 'templates/master/master.twig' %}
{% block content %}
<style type="text/css">
  /*.widget-visitor-card i {
    color: #fff;
    font-size: 80px;
    position: absolute;
    bottom: -10px;
    opacity: 0.3;
    left: -10px;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .feather {
    font-family: 'feather' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    }
    .widget-visitor-card {
        overflow: hidden;
    }
    .widget-visitor-card:hover i {
        -webkit-transform: rotate(0deg) scale(1.4);
        transform: rotate(0deg) scale(1.4);
        opacity: 0.5;
    }.col-sm-4 {
        padding-bottom: 0;
    }*/
    #ticket_lista {
    max-width: 230px;
    max-height: 230px;
    min-width: 230px;
    min-height: 230px;
    }
</style>

  {# <img src="{{ base_url() }}/public/assets/app/images/fondo.jpg"> #}
{# <div>
    <img src="{{ base_url() }}/public/assets/app/images/portada2.jpg"
    style="height: -webkit-fill-available;vertical-align: baseline;">
    <a href="#seccion2"><button>><</button></a>
</div> #}
<div class="row" id="seccion2">
{% if personas %}
    {% for datos in personas %}
        <div {% if datos.estado_persona == '1' %} class="col-sm-6 col-md-6 col-lg-3 bg-c-green user-profile" {% else %}class="col-sm-6 col-md-6 col-lg-3 bg-c-red user-profile" {% endif %} style="border-style:solid; border-color: #C2C2C2;">
            <div class="card-block text-center text-white">
                <div class="m-b-25">
                    <img src="{{ base_url() }}/public/assets/images/user-card/img-round5.jpg" alt="bg-img" class="img-radius" alt="User-Profile-Image" id="ticket_lista">
                </div>
                <h6 class="f-w-600">{{datos.nombres}} {{datos.apellidos}}</a> </h6>
                <h6 class="f-w-400">{{datos.descripcion}}</h6>
                <h6 class="f-w-600">PERU</h6>
                {% if datos.estado_persona == '1' %}
                <a class="btn btn-mat waves-light btn-success" href="{{ base_url() }}/anuncios/{{datos.id_ticket}}" style="background-color: white; color: green;">APORTAR</a>
                {% else %}
                <a class="btn btn-mat waves-light btn-danger text-center" href="{{ base_url() }}/anuncios/{{datos.id_ticket}}" style="background-color: white; color: red;">APORTAR</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    {% else %}
        <p>No hay anuncios</p>
    {% endif %}

</div>
{% endblock content %}

{% block scripts %}
  {{ parent() }}
{% endblock %}