{% extends 'templates/master/master.twig' %}

{% block content %}
{% if anuncio %}
{% for anuncio in anuncio %}
<div class="page-body text-center">
  <div class="row">
    <div class="col-sm-12">
      {% include 'templates/inc/messages.twig' %}
    </div>
    <div class="col-sm-12" style="padding-left: 42px; padding-right: 42px; text-transform:uppercase;">
      <div class="card card-creacion-detalles">
        <div class="card-header text-center" >{#  style="color: white;
    background-color: #ff5252;" #}
          <h3>PERSONA DESAPARECIDA</h3>
      	</div>
      	<div class="card-block form-crear-detalles">
      		<div class="row" style="border-bottom:1px solid rgba(0,0,0,.125);">

		    		<div class="col-sm-2 col-md-2 col-lg-2"> {# style="background-color:#233237;" #}
								<input type="image" class="img-rounded" src="{{ base_url() }}/public/assets/app/images/add_image.png" alt="Logo" style="height: inherit; width: inherit;" />
								<input type="image" class="img-rounded" src="{{ base_url() }}/public/assets/app/images/add_image.png" alt="Logo" style="height: inherit; width: inherit;" />
								<input type="image" class="img-rounded" src="{{ base_url() }}/public/assets/app/images/add_image.png" alt="Logo" style="height: inherit; width: inherit;" />
		    		</div>

		    		<div class="col-sm-6 col-md-6 col-lg-6">
		    		<input type="image" class="img-rounded" src="{{ base_url() }}/public/assets/app/images/add_image.png" alt="Logo" style="height: inherit; width: inherit;" />
		    		</div>
		    		<div class="col-sm-4 col-md-4 col-lg-4">
							<h4>{{ anuncio.nombres }} {{ anuncio.apellidos }}</h4>
							Sexo : {% if anuncio.sexo == 'h' %}Hombre {% else %} Mujer {% endif %}
							Color piel : {{ anuncio.color_piel }}<br>
							estatura : {{ anuncio.estatura }}<br>
							fecha nacimiento : {{ anuncio.fecha_nacimiento }}<br>
							tipo documento : {{ anuncio.tipo_documento }}<br>
							contacto : {{ anuncio.id_usuario }}<br>
							fecha registro : {{ anuncio.fecha_registro }}<br>
							descripcion : {{ anuncio.descripcion }}<br>
							parentezco : {{ anuncio.parentesco }}<br>
							numero de documento : {{ anuncio.numero_documento }}<br>
							<div class="col-sm-12 col-md-12 col-lg-12">
								<div id="mapa_ultimo" style="height:278px"></div>
							</div>
							<a class="btn btn-mat waves-light btn-inverse text-center" href="{{ base_url() }}/aportar/{{anuncio.id_anuncio}}">APORTAR</a>
		    		</div>
      		</div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endfor %}
{% else %}
	<p>No hay datos del anuncio</p>
{% endif %}
{% endblock content %}

{% block scripts %}
  {{ parent() }}
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCV-quRftERbHa_3kEUVCTOWPgvl9bA1ao&callback=initMap">
    </script>
		<script type="text/javascript" src="{{ base_url() }}/public/assets/app/js/detalle.js"></script>
{% endblock %}